@namespace epub "http://www.idpf.org/2007/ops";

body {
    color: rgb(0,0,0);
    font-family: georgia, helvetica, sans-serif;
    background-color: rgb(255,255,255);
    margin: 0.5em 1em 0 0.5em;
	font-size: 0.8em;
    line-height: 1.6em;
	border: 0;
    padding: 1em;
	display: block
}

chapter {
	margin-top: 2em;
}

h2 {
    text-align: center;
}

h3, h5 {
	text-indent: 1.25em;
}

h2 {
    page-break-before: always;
    padding-top: 1em
}

h3 {
	margin: 1.1em;
	padding-top: 1.5em;
	padding-bottom: 0.3em;
	page-break-before: always;
	font-size: 1.4em;
}

h5 {
	margin: 1.3em;
	padding: 0em;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.5em;
}

h6 {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}

.subhd {
	display: block;
	margin-top: 0.5em;
}

span[epub|type~='bridgehead'] {
    font-weight: bold;
}

div[epub|type~='z3998:author'] {
	font-size: small;
	font-weight: bold;
	text-align: center;
}

p {
    margin-top: 0.20em;
    text-align: justify;
    text-indent: 1.25em;
    margin-bottom: 0.75em
}


.intro {
	font-family: Calibri,Arial,sans-serif;
    margin: 0.75em 2em;
    text-align: justify;
}

.center {
    text-align: center
}

.smcap {
    font-variant: small-caps
}

.poem {
    margin-left: 30%;
    margin-right: 10%;
    text-align: left
}

.line {
	display: block;
}

span.c8 {
	display: block;
    margin-left: 1em
}

nav[epub|type~='toc'] ol {
	list-style-type: none;
}

ol > li:first-child {
	margin-top: 0.5em;
}

nav[epub|type~='toc'] > ol > li > ol > li {
	margin-top: 0.5em;
}

li.front {
	font-style: italic;
}

li.front + li.body {
	margin-top: 1.5em;
}

span.author {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}

span[epub|type~='pagebreak'] {
    font-size: smaller;
    color: rgb(180,180,180);
	text-align: center;
	border: 1px solid rgb(180,180,180);
	padding: 0.1em 0.3em;
}

aside[epub|type~='annotation'] {
	margin-top: 1.5em;
	border-top: 0.1em solid rgb(100,100,100);
	font-size: 0.7em;
	width: 50%;
}
